// NAVBAR TWEAKS

.navbar-inner {
	background-image: none;
	background-color: @white;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	.box-shadow( 0px 0px 0px );
}

header {
	margin-bottom: 0px;
}

// MAIN NAV

#main-nav {

}

body.admin-bar #main-nav {
	top: 28px;
}