// Custom functions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.columns(@columns, @gap) {
	columns: @columns;
	-webkit-columns: @columns;
	-moz-columns: @columns;
	column-gap: @gap;
	-webkit-column-gap: @gap;
	-moz-column-gap: @gap;
}

.filter(@filter) {
	-webkit-filter: @filter;
	-moz-filter: @filter;
	-o-filter: @filter;
	-ms-filter: @filter;
	filter: @filter;
}

.transform(@transform) {
	transform: @transform;
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-o-transform: @transform;
}

.box-shadow( @box-shadow ) {
	-webkit-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	box-shadow: @box-shadow;
}

.box-sizing( @box-sizing ) {
	-webkit-box-sizing: @box-sizing; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: @box-sizing;    /* Firefox, other Gecko */
	box-sizing: @box-sizing;         /* Opera/IE 8+ */
}

.vertical-gradient-bg( @color1 ) {

	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(top,  @color1 0%, darken( @color1, 10% ) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,darken( @color1, 10% ))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color1 0%,darken( @color1, 10% ) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @color1 0%,darken( @color1, 10% ) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @color1 0%,darken( @color1, 10% ) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color1 0%,darken( @color1, 10% ) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='darken( @color1, 10% )',GradientType=0 ); /* IE6-9 */
	background-size: 140%;

}

.diagonal-gradient-bg( @color1 ) {

	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(45deg,  @color1 0%, darken( @color1, 10% ) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,darken( @color1, 10% ))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  @color1 0%,darken( @color1, 10% ) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  @color1 0%,darken( @color1, 10% ) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  @color1 0%,darken( @color1, 10% ) 100%); /* IE10+ */
	background: linear-gradient(45deg,  @color1 0%,darken( @color1, 10% ) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='darken( @color1, 10% )',GradientType=0 ); /* IE6-9 */
	background-size: 140%;

}

// FLEXSLIDER TEXT BLINKING FIX

body, p {
	-webkit-font-smoothing:antialiased;
}

::selection {
	background: @selectHighlightColor; /* Safari */
	}
::-moz-selection {
	background: selectHighlightColor; /* Firefox */
}

iframe {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe {
	width: 100% !important;
}
.content-flexslider {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-next {
	float: right;
}

.nav-prev {
	float: left;
}

// STYLING TWEAKS

header {
	margin-bottom: 1em;
}

// WORDPRESS FIXES

.alignleft {
	float: left;
	margin-right: 2em;
}

.alignright {
	float: right;
	margin-left: 2em;
}

@media (min-width: 768px) and (max-width: 979px) {
	.row-fluid [class*="span"] {
		margin-left: 2.06243093923%;
	}
}

@media (max-width: 767px) {
	.row-fluid [class*="span"] {
		margin-left: 0;
	}
}

// SOCIAL MEDIA LINKS

.social-link {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url({$themeurl}/images/social-media-sprite.png);
	background-position: top left;
	
	@retina {
		background-image: url({$themeurl}/images/social-media-sprite-retina.png);
	}
}

.facebook {
	@extend .social-link;
}

.twitter {
	@extend .social-link;
}

.linkedin {
	@extend .social-link;
}

.yelp {
	@extend .social-link;
}

.youtube {
	@extend .social-link;
}

.vimeo {
	@extend .social-link;
}