// Secondary Color to use in Layout
@primaryColor: #999;
@secondaryColor: #333;

// Client Logo to use on Login page and throughout the site
@clientLogo: url();

// Select Highlight Color
@selectHighlightColor:	#eee;